<!DOCTYPE html>
<html lang=<%= config.language %>>
    <%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/header') %>

        <main>
            <p>这里是布局</p>
            <div>
                <%- include("index.ejs") %>
            </div>
            <div>
                <%- include("post.ejs") %>
            </div>
        </main>

        <%- partial('_partial/footer') %>
    </body>

</html>
