<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="canonical" href=<%= config.url %>/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/marsevilspirit.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/marsevilspirit.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/marsevilspirit.png">
    <link rel="mask-icon" type="image/png" href="/img/marsevilspirit.png">

    <%- css('css/normalize.css')  %>
    <%- css('css/et-book.min.css')  %>
    <%- css('css/LXGW.min.css') %>
    <%- css('css/style.css') %>
    <%- css('css/markdown.css') %>
    <%- css('css/highlight/style1.css') %>
</head>
